<h2 data-bind="text: title"></h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: users">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: lastname"></td>
                <td data-bind="text: firstname"></td>
            </tr>
    </tbody>
</table>
