@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../local/tsg/s/web/fonts/glyphicons-halflings-regular.eot');
    src: url('../local/tsg/s/web/fonts/glyphicons-halflings-regular.eot?#iefix')
    format('embedded-opentype'),
    url('../local/tsg/s/web/fonts/glyphicons-halflings-regular.woff')
    format('woff'),
    url('../local/tsg/s/web/fonts/glyphicons-halflings-regular.ttf')
    format('truetype'),
    url('../local/tsg/s/web/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
    format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-chevron-down:before {
    content: "\e114";
}
.glyphicon-hourglass:before {
    content: "\231b";
}


/*
 * Tree
 */

.tsg-tree, .tsg-tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tsg-tree ul {
    margin-left:1em;
    position:relative
}
.tsg-tree ul ul {
    margin-left:.5em
}
.tsg-tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tsg-tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.tsg-tree li a { font-weight: normal; line-height: 1em; }
.tsg-tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tsg-tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.tsg-indicator {
    margin-right:5px;
    /* color: #92b154; */
    color: blue;
    cursor: pointer;
}
.tsg-tree li button, .tsg-tree li button:active, .tsg-tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
.tsg-tree i { font-style: normal; }



.tsg-box {
    /*
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    vertical-align: top;
    border: 1px solid #dddddd;
    */
}


.tsg-box h5 {
    background-color: #dddddd;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}

.tsg-box-contents {
    padding-left: 0.5em;
}

.tsg-label-field-vertical {
    display: inline-block;
    margin-right: 0.5em;
}
.tsg-label-field-vertical label {
    display: block;
    margin-bottom: 0.5em;
}

.tsg-label-field-vertical .tsg-checkbox input {
    line-height: 30px;
    margin-top: 9px;
    margin-bottom: 19px;
}

.tsg-label-field-vertical .tsg-checkbox.tsg-center {
    text-align: center;
}

.tsg-button {
    background-color: transparent;
    /* color: #92b154; */
    color: blue;
    font-family: arial;
    font-size: 1em;
    /* padding: 0.375em 1.5em; */
    padding: 4px 6px;
    /* border: 1px solid #92b154; */
    border: 1px solid blue;
    border-radius: 0.375em;
    display: inline-block;
    cursor: pointer;
}
.tsg-button:hover {
    /* background-color: #92b154; */
    border: 1px solid #dadada;
    background-color: #dadada;
    color: #ffffff;
}

a:link, a:visited, a:hover, a:active {
    /* color: #92b154; */
    color: blue;
}