<!DOCTYPE html>
<html>
<!-- Copyright The Sententia Group 2009 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Certificate</title>

    <style>
        body {
            margin: 8px;
            background: url({{ border_pic_url | raw }});
            background-repeat: no-repeat;
        }
        #main {
            width: 800px;
            height: 640px;
            margin: 125px 0 0 100px;
            text-align:center;
            display: block;
            position: relative;
        }
        h1 {
            font-size: 3em;
            font-weight: bold;
        }
        .message {
            font-size: 1.5em;
        }
        .student {
            font-size: 2em;
        }
        .course {
            font-size: 1.5em;
        }
        .completion-date {
            font-size: 1em;
        }
        img {
            position: absolute;
            top: 408px;
            right: 58px;
        }
    </style>

</head>
<body>

    <div id="main">
        <h1>Certificate of Achievement</h1>

        <p class="message">This is to certify that</p>

        <p class="student">{{ firstname }} {{ lastname }}</p>

        <p class="message">has completed</p>

        <p class="course">{{ coursename }}</p>

        <p class="completion-date">{{ completion_date }}</p>

        {% if hours_attended > 0 %}
            <p>Hours Attended:  {{ hours_attended }}</p>
        {% endif %}

        {%  if instructor %}
            <p>Instructor:  {{ instructor }}</p>
        {% endif %}

        <img src="{{ seal_pic_url | raw }}" />
    </div>
</body>
</html>
