<style type="text/css">
    label { display: block; }
    input.autocomplete { width: 90%; margin-bottom: 1em; }
    #user-group { width: 90%; }

    .date-separator { margin-left: 0.5em; margin-right: 0.5em; }
    input.month, input.day { width: 2em; }
    input.year { width: 4em; }
    .infoBox {
        margin-top: 1em;
    }
    .infoBox>div {
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        border-color: rgb(218,218,218);
        padding: 1em;
    }
    .infoBox>h2 {
        background-color: #dadada; /* rgb value for /theme/lsctheme/gradient.jpg */
        font-size: 1em;
        padding: 0.5em;
        margin:0;
    }
    /* .infoBox .autocomplete {
        width: 75%;
    } */
    #leftCriteriaInfoBox {
        width:50%;
        float:left;
    }
    #leftCriteriaInfoBox>div {
        height: 30em;
    }
    #rightCriteriaInfoBox {
        width:48%;
        margin-left:1%;
        float:right;
    }
    #rightCriteriaInfoBox>div {
        height: 30em;
    }

    #run-report-onscreen { margin-right: 1em; }

    #optionalColumns label { display: inline; margin-right: 0.5em; }

    #recordTypesHeader {
        font-size: 0.9em;
        margin: 0.2em;
    }
    #optionalColumnsHeader {
        font-size: 0.9em;
        margin: 0.5em;
    }
    #rightCriteriaInfoBox div#reportButtons {
        margin-top: 4em;
    }

    #reportTable #paging-controls { text-align: center; }
    #reportTable #paging-controls a { margin: auto 1em; }
    #reportTable #empty-results td, #reportTable #error-message td {
        font-size: larger;
        font-weight: bold;
        text-align: center;
        padding: 2em;
    }

    #progress-bar td { text-align: center; padding: 2em; }
    #progress-bar img { height: 2em; width: auto; }
</style>

<form id="criteria-form" name="criteria-form" method="post"
      action="{{ path('tsg_moodle_lms.report.run') }}">

<div id="leftCriteriaInfoBox" class="infoBox">
    <h2>Filtering Options</h2>
    <div>
        <label for="course">Course:</label>
        <input id="course" class="autocomplete" type="search" />
        <input id="courseId" name="courseId" type="hidden" data-bind="value: courseId" />

        <label for="user">Student:</label>
        <input id="user" class="autocomplete" type="search" />
        <input id="userId" name="userId" type="hidden" data-bind="value: userId" />

        <label for="tag">Tag:</label>
        <input id="tag" class="autocomplete" type="search" />
        <input id="tagId" name="tagId" type="hidden" data-bind="value: tagId" />

        <select id="user-group" name="userGroupId" data-bind="options: userGroups,
            optionsText: function(group) {
                var indent = '';
                for (var i = 1; i < group.level; i++) {
                    indent += '&nbsp;&nbsp;';
                }
                return indent + group.name;
            },
            value: selectedUserGroup,
            optionsCaption: '-- Select a Group --'">
        </select>

        <p>
            <input id="includeUserSubGroups" name="includeUserSubGroups" type="checkbox"
                   data-bind="checked: includeUserSubGroups"
                   style="margin-left: 0.5em"/>
            <label for="includeUserSubGroups">Use selected group's children</label>
        </p>

        <table>
            <thead>
            <tr>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input data-bind="value: startMonth" class="month" maxlength="2" />
                        <span class="date-separator">/</span>
                    <input data-bind="value: startDay" class="day" maxlength="2" />
                        <span class="date-separator">/</span>
                    <input data-bind="value: startYear" class="year" maxlength="4" />
                    <input id="startDate" name="startDate" type="hidden"
                           data-bind="value: startDate" />
                </td>
                <td>
                    <input data-bind="value: endMonth" class="month" maxlength="2" />
                        <span class="date-separator">/</span>
                    <input data-bind="value: endDay" class="day" maxlength="2" />
                        <span class="date-separator">/</span>
                    <input data-bind="value: endYear" class="year" maxlength="4" />
                    <input id="endDate" name="endDate" type="hidden"
                           data-bind="value: endDate" />
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <input name="includeTerminated" data-bind="checked: includeTerminated" type="checkbox" />&nbsp;Include Terminated? <br/>
        <input name="includeInactives" data-bind="checked: includeInactives" type="checkbox" />&nbsp;Include Inactives?<br/>

        <input name="hiredWithin" data-bind="checked: hiredWithin" type="checkbox" />&nbsp;Hired within past&nbsp;
        <input name="hiredWithinDays" data-bind="text: hiredWithinDays" type="textbox" size="3" maxlength="3" />
    </div>
</div>
<div id="rightCriteriaInfoBox" class="infoBox">
    <h2>Record Type & Columns</h2>
    <div>
        <h3 id="recordTypesHeader">Record Type</h3>
        <table>
            <tr>
                <td><input type="radio" name="reportType" value="assignments" data-bind="checked: reportType" />&nbsp;Assignments</td>
                <td><input type="radio" name="reportType" value="enrollments" data-bind="checked: reportType" />&nbsp;Enrollments</td>
                <td><input type="radio" name="reportType" value="completions" data-bind="checked: reportType" />&nbsp;Completions</td>
            {#
            <tr>
                <td><input type="radio" name="reportType" value="attendance" data-bind="checked: reportType" />&nbsp;Attendance</td>
            </tr>
            #}

            {#
            <tr>
                <td>{$reportForm.statusExpired.html}{$reportForm.statusExpired.label}</td>
                <td>{$reportForm.statusNoShow.html}{$reportForm.statusNoShow.label}</td>
            </tr>
            #}
        </table>

        <h3 id="optionalColumnsHeader">Optional Columns</h3>
        <div id="optionalColumns" data-bind="foreach: optionalColumns">
            <input type="checkbox" value="1"
                   data-bind="checkedValue: $data, checked: $root.selectedOptionalColumns,
                   attr: { name: 'optionalCol.id=' + id }" />
            <label data-bind="text: name"></label>
        </div>

        <div id="reportButtons">
            {#
            <input type="button" value="Clear Options" name="clear"
                   id="clear" onClick="LSC.Page.clearOptions()" />&nbsp;&nbsp;&nbsp;
            #}
            <button id="run-report-onscreen" href="" class="btn" data-bind="click: run" >
                Report (data below)
            </button>
            <button id="run-report-csv" href="" class="btn" data-bind="click: download">
                Report (Excel)
            </button>
        </div>
    </div>
</div>

</form>

<table id="reportTable" class="table table-striped">
    <thead>
    <tr>
        <th data-bind="attr: {colspan: columnCount()}" style="border: none; text-align: center; font-size: 1.25em">Report Results</th>
    </tr>
    <tr data-bind="visible: records().length > 0 || isLoading()">
        <th id="paging-controls" data-bind="attr: {colspan: columnCount()}">
            <a href="" data-bind="click: previous, enable: links.prev">&lt;&lt;</a>
            <a href="" data-bind="click: next, enbale: links.next">&gt;&gt;</a>
        </th>
    </tr>
    <tr>
        <th style="text-align: left">Course Name</th>
        <th style="text-align: left">Category</th>
        <th style="text-align: left">Last Name</th>
        <th style="text-align: left">First Name</th>
        <th style="text-align: left">Email</th>

        <!-- ko foreach: $root.selectedOptionalColumns -->
        <th style="text-align: left" data-bind="text: name"></th>
        <!-- /ko -->

        <th style="text-align: left">Type</th>
        {#
        <th style="text-align: left">Status</th>
        #}
        <th style="text-align: left">Deadline</th>

        <th style="text-align: left">Enrollment Date</th>
        <th style="text-align: center">Attended</th>
        <th style="text-align: left">Hours Attended</th>

        <th style="text-align: left">Grade</th>

        <th style="text-align: left">Completion Date</th>

        <th style="text-align: left">Course Hours</th>
        <th style="text-align: left">Credits</th>
        <th style="text-align: left">Cost (per student)</th>
        {#
        <th style="text-align: left">Instructor</th>
        #}
    </tr>
    </thead>
    <tbody id="progress-bar" data-bind="visible: isLoading">
        <tr><td data-bind="attr: {colspan: columnCount()}"><img src="{{ asset('images/progress-bar.gif') }}" /></td></tr>
    </tbody>
    <tbody id="empty-results" data-bind="visible: isEmptyResults">
        <tr><td data-bind="attr: {colspan: columnCount()}">No Results</td></tr>
    </tbody>
    <tbody id="error-message" data-bind="visible: errorMessage">
        <tr><td data-bind="attr: {colspan: columnCount()}" data-bind="text: errorMessage"></td></tr>
    </tbody>
    <tbody data-bind="foreach: records">
    <tr>
        <td style="padding-right: 1em" data-bind="text: course_fullname"></td>
        <td style="padding-right: 1em" data-bind="text: course_category_name"></td>
        <td style="padding-right: 1em" data-bind="text: user_lastname"></td>
        <td style="padding-right: 1em" data-bind="text: user_firstname"></td>
        <td style="padding-right: 1em" data-bind="text: user_email"></td>

        <!-- ko foreach: $root.selectedOptionalColumns -->
        <td style="padding-right: 1em" data-bind="text: $parent.user_profilegroups[$data.id]"></td>
        <!-- /ko -->

        <td style="padding-right: 1em; text-transform: capitalize" data-bind="text: record_type"></td>
        {#
        <td style="padding-right: 1em">{$row->status}</td>
        #}
        <td style="padding-right: 1em" data-bind="fromUnixTime: deadline"></td>

        <td style="padding-right: 1em" data-bind="fromUnixTime: session_startdate"></td>
        <td style="padding-right: 1em" data-bind="text: attended"></td>
        <td style="padding-right: 1em" data-bind="text: hours_attended"></td>

        <td style="padding-right: 1em" data-bind="text: course_format != 'ilt' ? final_grade : ''"></td>
        <td style="padding-right: 1em" data-bind="fromUnixTime: completion_date"></td>
        <td style="padding-right: 1em" data-bind="text: course_hours"></td>
        <td style="padding-right: 1em" data-bind="text: course_credits"></td>
        <td style="padding-right: 1em" data-bind="text: course_cost_per_student"></td>
    </tr>
    </tbody>
</table>