<style type="text/css">
    .busy {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .table-condensed th { font-size: 0.8125em; } /* small 13px/16px */
    .table-condensed td { font-size: 0.75em; }
    .table-condensed .date  { width: 5.5em; }

    .tab-content { margin-bottom: 2em; }
    #course-search-form { text-align: center; }
</style>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tsg-course-catalog" data-toggle="tab">Course Catalog</a>
    </li>
    <li><a href="#tsg-my-courses"     data-toggle="tab">My Courses</a></li>
    <li><a href="#tsg-my-transcript"  data-toggle="tab">My Transcript</a></li>
</ul>

<div class="tab-content">

    <div id="tsg-course-catalog" class="tab-pane active">
        <img class="busy" src="{{ webroot }}/images/spinning-gear.gif"
             data-bind="visible: courseCatalogState() == 'fetching'"/>

        <ul id="tsg-course-catalog-tree"></ul>
    </div>

    <div id="tsg-my-courses" class="tab-pane">
        <img class="busy" src="{{ webroot }}/images/spinning-gear.gif"
             data-bind="visible: myCoursesState() == 'fetching'"/>

        <div class="alert" data-bind="visible: myCoursesState() == 'error'">
            <span data-bind="text: myCoursesError"></span>
        </div>

        <table class="table table-striped table-hover table-condensed"
               data-bind="visible: myCoursesState() == 'loaded'">
            <thead>
                <tr>
                    <th colspan="6">Instructor Led</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Schedule</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: assignments">
                <tr data-bind="if: course.format === 'ilt' ">
                    <td data-bind="text: course.full_name"></td>
                    <td class="date" data-bind="fromUnixTime: deadline"></td>
                    <td class="date"
                        data-bind="fromUnixTime: $root.assignmentSessionField($data, 'start_date')">
                    </td>
                    <td class="date"
                        data-bind="fromUnixTime: $root.assignmentSessionField($data, 'end_date')">
                    </td>
                    <td data-bind="text: $root.assignmentSessionField($data, 'schedule')"></td>
                    <td data-bind="text: $root.assignmentSessionField($data, 'location')"></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-hover table-condensed"
               data-bind="visible: myCoursesState() == 'loaded'">
            <thead>
                <tr>
                    <th colspan="2">Web</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Completion Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: assignments">
                <tr data-bind="if: course.format !== 'ilt' ">
                    <td data-bind="text: course.full_name"></td>
                    <td data-bind="fromUnixTime: deadline"></td>
                    <td data-bind="fromUnixTime: completion_date"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="tsg-my-transcript"  class="tab-pane">
        <img class="busy" src="{{ webroot }}/images/spinning-gear.gif"
             data-bind="visible: myTranscriptState() == 'fetching'"/>

        <div class="alert" data-bind="visible: myTranscriptState() == 'error'">
            <span data-bind="text: myTranscriptError"></span>
        </div>

        <table class="table table-striped table-hover table-condensed"
               data-bind="visible: myTranscriptState() == 'loaded'">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Completion Date</th>
                    <th>Certificate</th>
                    <th>Attended Hours</th>
                    <th>Course Hours</th>
                    <th>Instructor</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: completions">
                <tr>
                    <td>
                        <a href=""
                           data-bind="text: item.course.full_name, click: $root.gotoCoursePage"></a>
                    </td>
                    <td data-bind="fromUnixTime: time_modified"></td>
                    <td>
                        <a href="" data-bind="click: $root.certificate">Certificate</a>
                    </td>
                    <td>&nbsp;</td>
                    <td data-bind="text: item.course.info.hours"></td>
                    <td data-bind="text: $root.completionSessionField($data, 'instructor')"></td>
                    <td data-bind="text: final_grade"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<form id="course-search-form" action="{{ cfg.wwwroot }}/course/search.php" method="get">
    <fieldset class="coursesearchbox invisiblefieldset">
        <label for="coursesearchbox">Search courses: </label>
        <input type="text" id="coursesearchbox" size="30" name="search" value="">
        <input type="submit" value="Go">
    </fieldset>
</form>
