<style type="text/css">
    #tsg-sessions-table { width: 80%; margin-left: auto; margin-right: auto; }

    .progress { width: 60%; margin-left: auto; margin-right: auto; }
    .progress .bar { width: 100%; }

    #tsg-open-edit-session-dialog { font-size: larger; }

    {# Override Bootstrap's modal width and centering #}
    #tsg-roster-dialog { width: 80%; margin-left: -40%; }
    #tsg-roster-dialog .modal-body { max-height: 375px; }

    .tsg-date { width: 6em; }
</style>

<div class="row-fluid" data-bind="visible: validationErrors().length > 0">
    <div class="span3"></div>
    <div id="tsg-validation-errors" class="alert alert-error span6">
        <a class="close" data-bind="click: clearValidationErrors" href="#">&times;</a>
        <h4>Error</h4>

        <ul data-bind="foreach: validationErrors">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>

<div class="row-fluid" data-bind="visible: serverError">
    <div class="span3"></div>
    <div id="tsg-server-error" class="alert alert-error span6">
        <a class="close" data-bind="click: clearServerError" href="#">&times;</a>
        <h4>Error</h4>

        <span data-bind="text: serverError().title"></span>
    </div>
</div>


<table id="tsg-sessions-table" class="table table-hover">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Schedule</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Instructor</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <a id="tsg-open-edit-session-dialog" href="" data-bind="click: newSession">
                    &plus;</a>
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach: sessions">
        <tr>
            <td class="tsg-date" data-bind="fromUnixTime: start_date"></td>
            <td class="tsg-date" data-bind="fromUnixTime: end_date"></td>
            <td data-bind="text: schedule"></td>
            <td data-bind="text: location"></td>
            <td data-bind="text: capacity"></td>
            <td data-bind="text: instructor"></td>
            <td>
                {# edit #}
                <a href="" data-bind="click: $parent.editSession">&#9998;</a>
            </td>
            <td>
                {# delete #}
                <a href="" data-bind="click: $parent.confirmDeleteSession">&#10007;</a>
            </td>
            <td>
                {# roster #}
                <a href="" data-bind="click: $parent.rosterDialog.open">&#9776;</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="progress progress-striped active" data-bind="visible: sessions().length == 0">
    <div class="bar bar-success"></div>
</div>


<div id="tsg-edit-session-dialog" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" role="dialog" aria-hidden="true"
                data-dismiss="modal">&times;</button>
        <h3>Session</h3>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">

            <div class="control-group">
                <label for="edit-session-start-month" class="control-label">Start</label>

                <div class="controls">
                    <select id="edit-session-start-month"
                            data-bind="options: choices.months, optionsCaption: '', optionsText: 'name', value: editSessionForm.start.month"></select>
                    <select data-bind="options: choices.edit.start.days, optionsCaption: '', value: editSessionForm.start.day"></select>
                    <select data-bind="options: choices.years, optionsCaption: '', value: editSessionForm.start.year"></select>
                </div>
            </div>

            <div class="control-group">
                <label for="edit-session-end-month" class="control-label">End</label>

                <div class="controls">
                    <select id="edit-session-end-month"
                            data-bind="options: choices.months, optionsCaption: '', optionsText: 'name', value: editSessionForm.end.month"></select>
                    <select data-bind="options: choices.edit.start.days, optionsCaption: '', value: editSessionForm.end.day"></select>
                    <select data-bind="options: choices.years, optionsCaption: '', value: editSessionForm.end.year"></select>
                </div>
            </div>

            <div class="control-group">
                <label for="edit-session-schedule" class="control-label">Schedule</label>

                <div class="controls">
                    <input id="edit-session-schedule" type="text"
                           data-bind="value: editSessionForm.schedule" />
                </div>
            </div>

            <div class="control-group">
                <label for="edit-session-location" class="control-label">Location</label>

                <div class="controls">
                    <input id="edit-session-location" type="text"
                           data-bind="value: editSessionForm.location" />
                </div>
            </div>

            <div class="control-group">
                <label for="edit-session-capacity" class="control-label">Capacity</label>

                <div class="controls">
                    <input id="edit-session-capacity" type="text"
                           data-bind="value: editSessionForm.capacity" />
                </div>
            </div>

            <div class="control-group">
                <label for="edit-session-instructor" class="control-label">Instructor</label>

                <div class="controls">
                    <input id="edit-session-instructor" type="text"
                           data-bind="value: editSessionForm.instructor" />
                </div>
            </div>

            <div class="progress progress-striped active"
                 data-bind="visible: editSessionForm.showProgressBar()">

                <div class="bar bar-success"></div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-bind="click: saveSession">Save</button>
    </div>

</div>

<div id="tsg-roster-dialog" class="modal hide fade" data-bind="with: rosterDialog">

    <div class="modal-header">
        <button type="button" class="close" role="dialog" aria-hidden="true"
                data-dismiss="modal">&times;</button>
        <h3>Roster</h3>
    </div>

    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Attended</th>
                    <th>Hours Attended</th>
                    <th>Completed</th>
                    <th>Completion Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: entries">
                <tr>
                    <td data-bind="text: user.last_name"></td>
                    <td data-bind="text: user.first_name"></td>
                    <td>
                        <input type="checkbox" data-bind="checked: attended" />
                    </td>
                    <td>
                        <input type="text" style="width: 3em;"
                               data-bind="value: hours_attended" />
                        <span>&nbsp;/&nbsp;</span>
                        <span data-bind="text: max_hours"></span>
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: is_complete" />
                    </td>
                    <td data-bind="fromUnixTime: completion_date"></td>
                </tr>
            </tbody>
        </table>

        <div class="progress progress-striped active"
             data-bind="visible: showProgressBar()">

            <div class="bar bar-success"></div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" data-bind="click: close">Close</button>
        <button class="btn" data-bind="click: save">Save</button>
    </div>

</div>


<div id="tsg-confirm-dialog" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" role="dialog" aria-hidden="true"
                data-dismiss="modal">&times;</button>
        <h3>Confirm</h3>
    </div>

    <div class="modal-body">
        <p data-bind="text: confirmDialog.prompt"></p>
        <div data-bind="html: confirmDialog.body"></div>

        <div class="progress progress-striped active"
             data-bind="visible: confirmDialog.showProgressBar()">

            <div class="bar bar-success"></div>
        </div>
    </div>

    <div class="modal-footer">
        <a id="tsg-confirm-no" href="#" class="btn">No</a>
        <a id="tsg-confirm-yes" href="#" class="btn">Yes</a>
    </div>

</div>


