<style type="text/css">

    #tsg-enrollment-info-box > div { margin-left: 0.5em; }
    #tsg-enrollment-info-box a {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #tsg-enrollment-info-box ul { list-style-type: none; padding: 0; margin-left: 0; }
    #tsg-enrollment-info-box li { white-space: nowrap; overflow: hidden; }
    #tsg-enrollment-info-box label.session-label {
        display: inline-block;
        width: 7em;
        margin-bottom: 0;
        vertical-align: top;
    }
    #tsg-enrollment-info-box span {
        vertical-align: top;
    }
    #tsg-enrollment-info-box label.not-session-label { margin-top: 0.35em; }

    #tsg-reason { width: 15em; }
    #tsg-repeat-interval { width: 2em; }

    #tsg-assignment-notification-options { font-size: 0.8em; margin: 1.0em 0.5em; }

    #tsg-assign-tabs { margin-top: 1em; }
    #tsg-assign-tabs ul { margin-bottom: 0px }
    #tsg-assign-tabs-content > div { margin-top: 0.25em; margin-left: 0.5em; }

    #tsg-assign-tabs-content input, #tsg-assign-tabs-content select { width: 20em; }
    #tsg-assign-tabs-content .btn { vertical-align: top; }

    .tsg-progress-bar td { text-align: center; padding: 2em; }
    .tsg-progress-bar img { height: 2em; width: auto; }

    button[href="#tsg-pick-session-dialog"] { margin-left: 0px; }
    #tsg-pick-session-dialog { width: 80%; margin-left: -40%; }
    #tsg-pick-session-dialog .modal-body { max-height: 375px; }

    #tsg-sessions-list th.date { width: 6em; }

</style>

<div class="row-fluid" data-bind="visible: validationErrors().length > 0">
    <div class="span3"></div>
    <div id="tsg-validation-errors" class="alert alert-error span6">
        <a class="close" data-bind="click: clearValidationErrors" href="#">&times;</a>
        <h4>Error</h4>

        <ul data-bind="foreach: validationErrors">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>

<div class="row-fluid" data-bind="visible: serverError">
    <div class="span3"></div>
    <div id="tsg-server-error" class="alert alert-error span6">
        <a class="close" data-bind="click: clearServerError" href="#">&times;</a>
        <h4>Error</h4>

        <span data-bind="text: serverError().title"></span>
    </div>
</div>

<div class="row-fluid">
    <div id="tsg-assignment-info-box" class="tsg-box span8">
        <h5>Assignment Information</h5>

        <div class="tsg-box-contents">
            <div class="tsg-label-field-vertical">
                <label>Deadline:</label>
                <select data-bind="options: choices.months, optionsCaption: '', optionsText: 'name', value: assignment.deadlineMonth"></select>
                <select data-bind="options: choices.assignment.deadlineDays, optionsCaption: '', value: assignment.deadlineDay"></select>
                <select data-bind="options: choices.years, optionsCaption: '', value: assignment.deadlineYear"></select>
            </div>

            <div class="tsg-label-field-vertical">
                <label for="tsg-reason">Reason:</label>
                <input id="tsg-reason" type="text" data-bind="value: assignment.reason" />
            </div>

            <div class="tsg-label-field-vertical">
                <label>Repeat:</label>
                every:&nbsp;<input id="tsg-repeat-interval" type="text" maxlength="2" data-bind="value: assignment.repeatInterval" />
                <select data-bind="options: choices.repeatPeriods, optionsCaption='', value: assignment.repeatPeriod"></select>
            </div>

            <div id="tsg-assignment-notification-options">
                <div>
                    <input type="checkbox" /><label>Send Assignment Notification</label>
                </div>
                <div>
                    <input type="checkbox" /><label>Send Deadline Approaching Notification</label>
                </div>
                <div>
                    <input type="checkbox" /><label>Send Deadline Passed Notification</label>
                </div>
            </div>
        </div>
    </div>

    <div id="tsg-enrollment-info-box" class="tsg-box span4">
        <h5>Enrollment Information</h5>

        <div class="tsg-box-contents">
            <button href="#tsg-pick-session-dialog" class="btn" data-toggle="modal">Pick Session</button>
            <button href="#" class="btn"
               data-bind="click: unPickSession, visible: enrollment.selectedSession">
                Remove Session
            </button>
            <br/>

            <ul>
                <li>
                    <label class="session-label">Start:</label>
                    <span data-bind="fromUnixTime: enrollment.selectedSession().start_date"></span>
                </li>
                <li>
                    <label class="session-label">End:</label>
                    <span data-bind="fromUnixTime: enrollment.selectedSession().end_date"></span>
                </li>
                <li>
                    <label class="session-label">Schedule:</label>
                    <span data-bind="text: enrollment.selectedSession().schedule"></span>
                </li>
                <li>
                    <label class="session-label">Location:</label>
                    <span data-bind="text: enrollment.selectedSession().location"></span>
                </li>
                <li>
                    <label class="session-label">Instructor:</label>
                    <span data-bind="text: enrollment.selectedSession().instructor"></span>
                </li>
            </ul>

            <label class="not-session-label"><input type="checkbox" />Send Enrolled Notification</label>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span8">
        <div id="tsg-assign-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tsg-assign-user-tab" data-toggle="tab">Assign User</a>
                </li>
                <li>
                    <a href="#tsg-assign-groups-tab" data-toggle="tab">Assign Group(s)</a>
                </li>
            </ul>
        </div>

        <div id="tsg-assign-tabs-content" class="tab-content">
            <div id="tsg-assign-user-tab" class="tab-pane active">
                <label for="tsg-select-user">User: </label>
                <input id="tsg-select-user" type="search" />

                <button class="btn" data-loading-text="Working..." data-bind="click: assignUser">
                    Assign User
                </button>

                <div class="alert alert-success" data-bind="visible: showAssignSuccess">
                    <a class="close" data-bind="click: hideAssignSuccess">&times;</a>
                    <strong>Success!</strong>&nbsp;&nbsp;Assignment made.
                </div>
            </div>

            <div id="tsg-assign-groups-tab" class="tab-pane row-fluid">
                <label for="tsg-select-group">Group:</label>
                <select id="tsg-select-group">
                    <option>Group 1</option>
                    <option>Group 2</option>
                </select>

                <button class="btn">Assign Group(s)</button>
            </div>
        </div>
    </div>
</div>

<div id="tsg-assignment-search" class="row-fluid">
    <div class="span12 tsg-box">
        <h5>Assignment Search</h5>

        <div class="tsg-box-contents">
            <div class="tsg-label-field-vertical">
                <label>Deadline Start:</label>
                <select data-bind="options: choices.months, optionsCaption: '', optionsText: 'name', value: search.deadlineStartMonth"></select>
                <select data-bind="options: choices.search.startDays, optionsCaption: '', value: search.deadlineStartDay"></select>
                <select data-bind="options: choices.years, optionsCaption: '', value: search.deadlineStartYear"></select>
            </div>

            <div class="tsg-label-field-vertical">
                <label>Deadline End:</label>
                <select data-bind="options: choices.months, optionsCaption: '', optionsText: 'name', value: search.deadlineEndMonth"></select>
                <select data-bind="options: choices.search.endDays, optionsCaption: '', value: search.deadlineEndDay"></select>
                <select data-bind="options: choices.years, optionsCaption: '', value: search.deadlineEndYear"></select>
            </div>

            <div class="tsg-label-field-vertical tsg-checkbox">
                <label>Complete:</label>
                <div class="tsg-checkbox tsg-center">
                    <input type="checkbox" data-bind="checked: search.filterForCompletes" />
                </div>
            </div>

            <div class="tsg-label-field-vertical tsg-checkbox">
                <label>Incomplete:</label>
                <div class="tsg-checkbox tsg-center">
                    <input type="checkbox" data-bind="checked: search.filterForIncompletes" />
                </div>
            </div>

            <div class="tsg-label-field-vertical">
                <label>&nbsp;</label>
                <button class="btn" data-loading-text="Searching..."
                        data-bind="click: searchAction">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div id="tsg-assignment-search-results" class="row-fluid">
    <table class="span12 table table-hover">
        <thead>
            <tr>
                <th colspan="6">Assignment</th>
                <th colspan="3">Enrollment</th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Active</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Completed Date</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>Instructor</th>
            </tr>
        </thead>
        <tbody class="tsg-progress-bar" data-bind="visible: isSearching">
            <tr>
                <td colspan="9">
                    <img src="{{ asset('images/progress-bar.gif') }}" />
                </td>
            </tr>
        </tbody>
        <tbody data-bind="foreach: search.results">
            <tr data-bind="css: {selected: isSelected}">
                <td data-bind="text: user.last_name"></td>
                <td data-bind="text: user.first_name"></td>
                <td data-bind="text: user.info && user.info.is_active ? 'yes' : 'no'"></td>
                <td data-bind="fromUnixTime: deadline"></td>
                <td data-bind="text: is_complete ? 'complete' : 'incomplete'"></td>
                <td data-bind="fromUnixTime: completion_date"></td>
                <td data-bind="text: session_enrollment ? session_enrollment.session.location : ''"></td>
                <td data-bind="fromUnixTime: session_enrollment ? session_enrollment.session.start_date : ''"></td>
                <td data-bind="text: session_enrollment ? session_enrollment.session.instructor : ''"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="tsg-pick-session-dialog" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" role="dialog" aria-hidden="true"
                data-dismiss="modal">&times;</button>
        <h3>Pick a Session</h3>
    </div>
    <div class="modal-body">
        <table id="tsg-sessions-list" class="table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="date">Start</th>
                <th class="date">End</th>
                <th>Schedule</th>
                <th>Location</th>
                <th>Instructor</th>
                <th>Capacity</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: choices.sessions">
                <tr>
                    <td data-tsg-action="select"><a href="#">Select</a></td>
                    <td data-bind="fromUnixTime: start_date"></td>
                    <td data-bind="fromUnixTime: end_date"></td>
                    <td data-bind="text: schedule"></td>
                    <td data-bind="text: location"></td>
                    <td data-bind="text: instructor"></td>
                    <td data-bind="text: capacity"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
