<style type="text/css">
    .tsg-box {
        display: inline-block;
        margin-left: 0.5%;
        margin-right: 0.5%;
        vertical-align: top;
        border: 1px solid #dddddd;
    }
    .tsg-box, .tsg-box-bottom { width: 30%; }

    .tsg-box { height: 28em; overflow: scroll; }
    .tsg-box > div { margin-left: 1em; }
    .tsg-box ul { list-style-type: none; }
    .tsg-box li { margin-left: -1em; }

    .tsg-box-bottom {
        display: inline-block;
        margin-top: 1em;
        margin-left: 0.5%;
        margin-right: 0.5%;
        vertical-align: top;
    }
    .tsg-box-bottom * { margin-bottom: 0.5em; }
    .tsg-box-bottom label { width: 40%; }
    .tsg-box-bottom select, .tsg-box-bottom input {
        width: 60%;
    }


    #tsg-groups h5 { margin-bottom: 0.5em; }
    #tsg-groups a { font-fize: 0.85em; }
    .tsg-top-group-link { color: black; }
    .tsg-group-container { height: 0px; overflow: hidden; }
    .tsg-group-container.active { height: auto; }
    .tsg-group-link { color: #003592; }

    #tsg-group-members li.selected, #tsg-group-managers li.selected { background: gray; }


    img.tsg-progress { display: block; margin: 1em auto; margin-top: 10em; }
    /* #new-group-parent { display: block; } */

    /* #remove-members-button { margin-top: 1.33em; } */
    #select-user { width: 100%; }
</style>



<div id="tsg-groups" class="tsg-box">
    <h5>Groups</h5>

    <img class="tsg-progress" data-bind="visible: isFetchingGroups" src="{{  asset('images/spinning-gear.gif') }}" />

    <div data-bind="foreach: groups, hidden: isFetchingGroups">
        <div>
            <a href="" class="tsg-top-group-link" data-bind="text: name, click: $parent.toggleActiveGroup"></a>
            <img src="{{ asset('images/edit.gif') }}" />
            <img src="{{ asset('images/delete.gif') }}" />
        </div>
        <div class="tsg-group-container" data-bind="css: {active: isActive}">
            <ul data-bind="foreach: children">
                <li>
                    <a href="" class="tsg-group-link" data-bind="text: name, click: $root.fetchMembersAndManagers">></a>
                    <img src="{{ asset('images/edit.gif') }}" />
                    <a href="" data-bind="click: $root.deleteGroup">
                        <img src="{{ asset('images/delete.gif') }}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="tsg-group-members" class="tsg-box">
    <h5>Group Members</h5>

    <img class="tsg-progress" data-bind="visible: isFetchingMembers" src="{{  asset('images/spinning-gear.gif') }}" />

    <ul data-bind="foreach: members, hidden: isFetchingMembers">
        <li class="tsg-group-link"
            data-bind="text: last_name + ', ' + first_name, click: $parent.toggleUser, css: {selected: isSelected}">
        </li>
    </ul>
</div>

<div id="tsg-group-managers" class="tsg-box">
    <h5>Training Specialists</h5>

    <img class="tsg-progress" data-bind="visible: isFetchingManagers" src="{{  asset('images/spinning-gear.gif') }}" />

    <ul data-bind="foreach: managers, hidden: isFetchingManagers">
        <li class="tsg-group-link"
            data-bind="text: last_name + ', ' + first_name, click: $parent.toggleUser, css: {selected: isSelected}">
        </li>
    </ul>
</div>

<div></div>

<div class="tsg-box-bottom">

    <label for="new-group-name">Add New Group:</label>
    <input id="new-group-name" name="new-group-name" data-bind="value: newGroupName" type="text" /><br/>

    <label for="new-group-parent">to parent:</label>
    <select id="new-group-parent" name="new-group-parent" data-bind="options: groupHiearchy,
            optionsText: function(group) {
                var indent = '';
                for (var i = 1; i < group.level; i++) {
                    indent += '&nbsp;&nbsp;';
                }
                return indent + group.name;
            },
            value: newGroupParent,
            optionsCaption: '-- Select a Group --'">
    </select>

    <button class="btn" data-bind="click: addNewGroup">Add</button>

</div>

<div class="tsg-box-bottom">
    <div>
        <button id="remove-members-button" class="btn" data-bind="click: removeMembers">
            Remove Selected Members
        </button>
    </div>

    <div>
        <input id="select-user" type="text">
    </div>
</div>

<div class="tsg-box-bottom">
    <div>
        <button class="btn" data-bind="click: removeManagers">Remove Selected Specialists</button>
    </div>

    <button class="btn" data-bind="click: addMember">Add Member</button>
    <button class="btn" data-bind="click: addManager">Add Specialist</button>
</div>
