.tsg-box {
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    vertical-align: top;
    border: 1px solid #dddddd;
}
.tsg-box h5 {
    background-color: #dddddd;
    padding: 0.5em;
    margin: 0;
}

.tsg-button {
    background-color: transparent;
    color: #92b154;
    font-family: arial;
    font-size: 1em;
    /* padding: 0.375em 1.5em; */
    padding: 4px 6px;
    border: 1px solid #92b154;
    border-radius: 0.375em;
    display: inline-block;
    cursor: pointer;
}
.tsg-button:hover {
    background-color: #92b154;
    color: #ffffff;
}

ul.tsg-tab-group {
    list-style: none;
    margin: 0;
    left: 0;
}

.tsg-tab-group > li {
    display: inline-block;
    margin: 0 0;
}

.tsg-tab-group > li:first-child button, .tsg-tab-group > li:first-child .tsg-tab {
    border-left: 0;
}
.tsg-tab-group > li > button, .tsg-tab-group > li .tsg-tab {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}
.tsg-tab-group .tsg-tab { display: inline-block; }
.tsg-tab-group .tsg-tab {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem; */
    padding: 0.44rem 0.89rem 0.47rem 0.89rem;
    font-size: 0.88889rem;
    /* background-color: #008CBA; */
    background-color: #92b154;
    /* background-color: #429B07; */
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}


/*
 * Dialog box CSS shamelessly borrowed from http://blog.avtex.com/2012/01/26/cross-browser-css-only-modal-box/
 */

.tsg-dialog-wrap {
    /* The div that shows/hides. */
    display: none; /* starts out hidden */
    z-index: 40001; /* High z-index to ensure it appears above all content */
}

.tsg-dialog-overlay { /* Shades out background when selector is active */
    position:fixed;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5; /* Sets opacity so it's partly transparent */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:40001;
}

.tsg-dialog-vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    top:40%;
    width:100%;
    z-index:40002; /* ensures box appears above overlay */
}

.modal { z-index: 40002; }
.modal-body { max-height: 30%; }

.tsg-dialog-content { /* The actual box, centered in the fixed-position div */
    position:relative;
    margin:0 auto; /* Everything below is just visual styling */
    background-color:white;
    padding:10px;
    border:2px solid #dddddd;
}

/*
a[data-tsg-role="close"] {
    position:absolute;
    top:-12px;
    right:-12px;
    z-index:50;
}
*/